body {
  background-color: #dddddd;
}

audio {
  display: none;
}

#main {
  position: absolute;
  width:100%;
  height:100%;
}

#OSDviewer {
  width:100%;
  height:100%;
  z-index:1;
}

.instructions {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 20%;
  height: 20%;
  color: darkred;
  pointer-events: none;
  opacity: 0;
  background: slategray;
  transition: opacity 1.3s;
}

#coordinates {
  position:relative;
  margin:auto;
  width:230px;
  left:auto;
  bottom:32%;
  color: white;
  font-family: verdana;
  font-size: 100%;
  background: rgba(0,0,0,0.8);
  z-index:3;
}

#audioLogs {
  display: none;
  position: absolute;
  margin: auto;
  width: 320px;
  left: 15%;
  bottom: 6%;
  color: white;
  font-family: verdana;
  font-size: 100%;
  background: rgba(0,50,0,0.8);
  z-index: 3;
}


/*#activeZone1 {
  background: rgb(255,0,0);
  opacity: 0.6;
  z-index:3;
}*/

#splash {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: white;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    text-align: center;
    z-index: 3;
}



#resetViewButton {
  background-image: url('../images/resetView.png');
  background-color: transparent; /* make the button transparent */
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-position: 0px 0px;  /* equivalent to 'top left' */
  background-size:contain;
  border: none;
  outline:none;
  width: 53px;
  height: 53px;
  border-radius:50%;
  position:absolute;
  left:1%;
  top:91.1%;
  cursor: pointer;
  opacity:0.5;
  transition: all 0.5s;
  z-index: 10;
}

#resetViewButton:hover {
  background-color: #FFEBCD;
  opacity:1;
  transition:0.5s;
}

.muteButton {
  background-image: url('../images/audioON.png');
  background-color: transparent; /* make the button transparent */
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-position: 0px 0px;  /* equivalent to 'top left' */
  background-size:contain;
  border: none;
  outline:none;
  width: 48px;
  height: 48px;
  border-radius:50%;
  position:absolute;
  left:5%;
  top:92%;
  cursor: pointer;
  transition: all 0.5s;
  opacity:0.5;
  z-index: 10;
}

.muteButton:hover {
  background-color: #FFEBCD;
  opacity:1;
  transition:0.5s;
}

.muteButton:active {
  background-image: url('../images/audioOFF.png');
  background-color: #FFEBCD;
  outline:none;
  opacity:1;
  transition:0.5s;
}

.unMuteButton {
  background-image: url('../images/audioOFF.png');
  background-color: transparent; /* make the button transparent */
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-position: 0px 0px;  /* equivalent to 'top left' */
  background-size:contain;
  border: none;
  outline:none;
  width: 48px;
  height: 48px;
  border-radius:50%;
  position:absolute;
  left:5%;
  top:92%;
  cursor: pointer;
  transition: all 0.5s;
  opacity:0.5;
  z-index: 10;
}

.unMuteButton:hover {
  background-color: #FFEBCD;
  opacity:1;
  transition:0.5s;
}

.unMuteButton:active {
  background-image: url('../images/audioON.png');
  background-color: #FFEBCD;
  outline:none;
  opacity:1;
  transition:0.5s;
}

#resetAudioLog {
  position:absolute;
  margin:auto;
  left:10%;
  top:93%;
  cursor: pointer;
  font-family: verdana;
  font-size: 60%;
  background: rgba(0,100,0,0.5);
  z-index:2;
}
